<p style="color: green"><%= notice %></p>

<%= render @food %>

<div class="mt-4" >
  <%= link_to "Edit this food", edit_food_path(@food) %> | 
  <%= link_to "Back to foods", foods_path %>

  <%= button_to "Destroy this food", @food, method: :delete, class: "mt-4 btn btn-outline-danger" %>
</div>
